<!DOCTYPE html>
<html>
  <% include partials/head %>
  <% include partials/nav %>

<style>
.topspacer {
    padding-top: 5em;
}

.companyhead {
  padding-bottom: 1em;
}
</style>



  <body>
    <% include partials/nav %>

    <div class="container topspacer">
      <div class="row">
        <h1>Your Info</h1>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <b>School</b>
            </td>
            <td>
              <p><%= user.school %></p>
            </td>
          </tr>
          <tr>
            <td>
              <b>Year</b>
            </td>
            <td>
              <p><%= user.year %></p>
            </td>
          </tr>
          <tr>
              <td>
                <b>Gender</b>
              </td>
            <td>
              <p><%= user.gender %></p>
            </td>
          </tr>
          <tr>
            <td>
              <b>Email</b>
            </td>
            <td>
              <p><%= user.email %></p>
            </td>
          </tr>
          <tr>
            <td>
              <b>Company</b>
            </td>
            <td>
              <p><%= user.company %></p>
            </td>
          </tr>
          <tr>
            <td>
              <b>Industry</b>
            </td>
            <td>
              <p><%= user.industry %></p>
            </td>
          </tr>

        </tbody>
      </table>

    </div>

    </div>

    <div>
     <a style="padding-left: 8em" id="mybutton" href="/signout">
      <button>Sign-out</button>
     </a>
    </div>

    <br  />

    <div class="row">
      <div id="alumniList" class="col-md-6">
        <h3>Alumni at: <%= user.company %></h3>
      </div>
      <div id="industryList" class="col-md-6">
        <h3>Companies in: <%= user.industry %></h3>
      </div>
    </div>


    <script>
      $(document).ready(function() {
  			console.log('this is called');
        $('.card').remove();
  		   $.post("/alumni", { 'company' : '<%= user.company %>' }, function(data, err) {

  		   		for(var i = 0; i < data.length; i++) {
  		   			var str = "<div class='card' style='width: 20rem; float:left'>" +
  							  "<img src='http://www.michaeltsarion.com/uploads/3/1/3/5/31352851/2863928_1_orig.jpg' class='card-img-top' alt='Cat photo'>" +
  							  "<div class='card-block'>" +
  							    "<h4 class='card-title'>" + data[i][1] + "</h4>" +
  							    "<p class='card-text'>" + data[i][2] + "</p>" +
  							    "<p class='card-text'>" + data[i][3] + "</p>" +
  							    "<a href='#'' class='btn btn-primary'>Learn more</a>" +
  							  "</div>" +
  							"</div>" +
  						"</div>"
  		   			$('#alumniList').append(str);
  		   		}

  		   })

         $.post("/company", { 'industry' : '<%= user.industry%>' }, function(data, err) {
  		   		for(var i = 0; i < data.length; i++) {
  		   			var str = "<div class='card' style='width: 20rem; float:left'>" +
  							  "<div class='card-block'>" +
  							    "<h4 class='card-title'>" + data[i][1] + "</h4>" +
  							    "<p class='card-text'><b>City: </b>" + data[i][2] + "</p>" +
  							    "<p class='card-text'><b>State: </b>" + data[i][3] + "</p>" +
                    "<p class='card-text'><b>Industry: </b>" + data[i][4] + "</p>" +
                    "<p class='card-text'><b>Lat: </b>" + data[i][5] + "</p>" +
                    "<p class='card-text'><b>Long: </b>" + data[i][6] + "</p>" +
  							    "<a href='#'' class='btn btn-primary'>Learn more</a>" +
  							  "</div>" +
  							"</div>" +
  						"</div>"
  		   			$('#industryList').append(str);
  		   		}

  		   })

      })


  	</script>

  </body>
</html>
